<!DOCTYPE html>
<html lang="en">
<title>Welcome !!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1000px">
  <img class="w3-image" src="https://scontent.fhdy1-1.fna.fbcdn.net/v/t1.15752-9/148489189_183397459785008_5446160653665503506_n.jpg?_nc_cat=101&ccb=3&_nc_sid=ae9488&_nc_eui2=AeFLzR9aBRC_kar13L0duvrYlQhosWmj2AmVCGixaaPYCWM17n2R_qhYR6HJaXwKe0vVEc5zbt_AHzsQGDJo67UA&_nc_ohc=7XY8Wed-lgUAX_SRpTQ&_nc_ht=scontent.fhdy1-1.fna&oh=ea6119071917db6497585d906ce7f276&oe=604EB225" alt="Me" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">LAB 3SB04</h1>
    <h5 class="w3-hide-medium w3-hide-small">Web App Framework 2</h5>
  </div>
  
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#portfolio" class="w3-bar-item w3-button">Albums</a>
    <a href="#contact" class="w3-bar-item w3-button">About Me</a>
  </div>
</header>

<!-- Navbar on small screens -->
<div class="w3-center w3-light-grey w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="#portfolio" class="w3-bar-item w3-button">Albums</a>
  <a href="#contact" class="w3-bar-item w3-button">About Me</a>
</div>
</div>
<!-- Page content -->
<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">
  <h1 class="w3-center">My Albums</h1>
  <!-- Images (Portfolio) -->
  <center>
  <img src="https://scontent.fhdy1-1.fna.fbcdn.net/v/t1.15752-9/149790175_878201686301372_4954260892595708491_n.jpg?_nc_cat=108&ccb=3&_nc_sid=ae9488&_nc_eui2=AeE7WLSbfE9K96kI2PJY2XgxoWW1eXIGCZahZbV5cgYJlqkEYm4B8OZV9uEoqYHjDpAs5uC2epy27MeDtde4ezct&_nc_ohc=8vnSyE9z1uYAX__K4ra&_nc_oc=AQmOz91v2ELhB4sz8w14gtuQrJSO--T3-8cvKBjjDpLMClj0FQHih3siNsZs7fJvf3M&_nc_ht=scontent.fhdy1-1.fna&oh=31cb8645cd3a93690aa7bea7d514530a&oe=604EB3B1" alt="Ocean II" class="w3-image w3-margin-top" width="600" height="400">
  <img src="https://scontent.fhdy1-1.fna.fbcdn.net/v/t1.15752-9/148195234_529279521386383_6438813164241517077_n.jpg?_nc_cat=102&ccb=3&_nc_sid=ae9488&_nc_eui2=AeELCeDbfoYrqbOcYMfvNmgXdNi_EUGW2Y102L8RQZbZjRwT_9l-ulvjBI3sDCMORcGd4mD1VAO6xcm1ldENHYOz&_nc_ohc=TZPiF8ndGwsAX8iqI1H&_nc_ht=scontent.fhdy1-1.fna&oh=99118e395fe7b2eebd7c396d35687244&oe=604BCD63" alt="Falls" class="w3-image w3-margin-top" width="600" height="400">
  <img src="https://scontent.fhdy1-1.fna.fbcdn.net/v/t1.15752-9/147792373_175300607390424_6266712677765058836_n.jpg?_nc_cat=108&ccb=3&_nc_sid=ae9488&_nc_eui2=AeEjzFQ0k3s0Sv7NA5kqvqZuMdjirAZZ5aAx2OKsBlnloHh47lkIKtQ3no2VF-mwxPtnXFNTxn33mQFPF7qDQhW_&_nc_ohc=ZkXBLMudwUgAX_GWh-o&_nc_ht=scontent.fhdy1-1.fna&oh=da301e33a36ac32cd126b68bf47d2165&oe=604F2A00" alt="Skies" class="w3-image w3-margin-top" width="600" height="400">
  <img src="https://scontent.fhdy1-1.fna.fbcdn.net/v/t1.15752-9/147338691_418442832745511_6942054401439816084_n.jpg?_nc_cat=110&ccb=3&_nc_sid=ae9488&_nc_eui2=AeHesJ3dBTxO20D8rtadxHq94h7cVljNu7PiHtxWWM27swPOO4UQ_QA3arVlMxQc0qwhUZJ4dHxctzE2Hjs9_v3Z&_nc_ohc=H90m8OneSLcAX9DekMT&_nc_ht=scontent.fhdy1-1.fna&oh=e4f33ea64c611b6afec7800436a57067&oe=604D0003" alt="Mountains" class="w3-image w3-margin-top" width="600" height="400">
  </center>>
  <!-- Contact -->
  <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
    <h1 class="w3-center">About Me</h1>
    <hr>
    <p>Name : Pongpat Yakhet <br>Student ID : 6110110301 <br>Study : Computer Engineering <br>Prince of Songkla University, Faculty of Engineering</p>
    <br><center><h3 class="w3-center">Contact</h3></center>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" required name="Name">
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" required name="Email">
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" required name="Message">
      </div>
      <button type="submit" class="w3-button w3-block w3-dark-grey" onclick="window.location.reload();">Send</button>
    </form><br>
    

  </div>

<!-- End page content -->
</div>

</body>
</html>
